header h1{
text-align: center;
}

header{
border: 3px solid black;
border-radius: 20px;
background-image: linear-gradient(to top,#1C1F24,#6A5F35);
}



main h1{
text-align: center;
background-image: linear-gradient(to top,#6A5F35,#4A2E2A);
border: 3px solid black;
border-radius: 20px;

}


.redot{
height: 50xp;
text-align: center;
}



body{
background-image: linear-gradient(to bottom,#F0D297,#F5F1C9,#F0D985,#F0B97D,#F5EFDB);
min-height: 100vh;
color: #F2E8D7;
}


main img{
position: relative;
display: flex;
flex-wrap: wrap;
left: 335px;
margin-bottom: 70px;
border: 15px solid #FFD47F;
border-radius: 30px; color: whitesmoke;
margin-top: 70px;
transition: transform 0.2s;

}


.cledyshi{
width: 300px;
height: 300px;
}


main p{
text-align: center;
font-size: 30px;
background-image: linear-gradient(to top,#3A3F2F,#6A5F35);
border: 3px solid black;
border-radius: 20px;
}



.decrotion{
position: relative;
left: 60px;
}




footer{

}


footer img{
width: 400px;
height: 300px;
float: right;
border: 3px solid  #FFD47F;
margin: 5px;
opacity: 0.9;
}


footer h1{
text-align: center;
background-image: linear-gradient(to top,#6A5F35,#4A2E2A);
border: 4px solid black;
border-radius: 20px;

}



main img:hover{
transform: scale(1.2);
margin-bottom: 100px;
margin-top: 100px;
}



footer img:hover{
opacity: 1;
}
